<div class="row">
    <div class="col-md-2 d-md-block bg-light sidebar px-0 text-center">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="installation">Get Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="alert-demo">Alert Demo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="confirm-demo">Confirm Demo</a>
            </li>
        </ul>
        <h6 class="d-flex px-3 mt-3 mb-1 text-muted" style="font-size: 0.75rem;"><span>Growl Messages</span></h6>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="sucess-demo">Success Growl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="error-demo">Error Growl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="info-demo">Info Growl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="warn-demo">Warning Growl</a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>